body{
    margin:0px;
    background:#fff;
}

/* HEADER */

header{
    height:70px;
}

header .logo{
    float:left;
    width:16%;
    text-align: center;
    background-color: #232b2d;
    height:inherit;
}
header .logo h2{
    margin: 0;
    color:#fff;
    font-size: 53px;
    
    
}

header .espace{
    float: left;
    background-color: #2c3638;
    width: 84%;
    height:inherit;
}

header .espace .titre{
    float:left;
}

header .espace .titre h2{
    color:#5f7478;
}

header .espace .compte{
    float:right;
}

header .titre{
    margin-left: 20px;
}

/* ASIDE */

aside{
    height:677px;
    width:16%;
    background-color: #2c3638;
    float:left;
}

/* SECTION */

section{
    background-color: #f1f1f1;
    height:677px;
}

section input{
    /*déjà en inline-block*/
    width: 150px;
    padding: 4px;
    vertical-align: top;
}

section label {
    display: inline-block;
    width: 200px;
    margin-right: 20px;
    vertical-align: top;
    text-align: right;
}

section button{
    margin-left: 230px;
}

section h1{
    margin-top: 0px;
    padding-top: 10px;
    margin-left: 300px;
}

section h2{
    margin-left: 300px;
}

/* FOOTER */
footer{
    background-color:#e1e1e1;
    height:55px;
    text-align: center;
    margin-top: -16px;
}

/*Liens*/

a, a:active{
    color:white;
    text-decoration: none;
    font-size: 20;
}
a:active{
    color:green
}
